@import url(yanone-kaffesatz.css);
@import url(droid-serif.css);
@import url(ubuntu-mono.css);

body { 
    font-family: 'Droid Serif';
    font-size: 14px;
    line-height: 1.3;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

input, textarea, select { font-size: 18px; }

.small, .small .remark-slide-content { font-size: 18px; }
.small .demo { font-size: 18px; }
.small .remark-code { font-size: 16px; }
.small input, .small textarea, .small select { font-size: 16px; }
/* Template header */

header {
    background: #12679b;
    padding: 8px 30px;
    color: #fff;
    overflow: hidden;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    }
    .epam-logo {
        float: right;
        margin-top: 5px;
    }
    header h1 {
        margin: 0;
        font-size: 25px;
        line-height: 1;
        color: #fff;
    }


/* First page title */

.title {
    margin-top: -5em; 
    }
    .title p {
        color: #999;
        font-style: italic;
        margin-bottom: 0;
        }
        .title p:before {
            content:"— ";
        }
        .title p:after {
            content:" —";
        }


/* Layout */

.remark-slide-content {
    padding: 20px 30px 30px;
}

.remark-code, .remark-inline-code { 
    font-family: 'Ubuntu Mono'; 
    overflow: auto;
}


/*  Two columns layout example:
===============================

    .columns[.col-50[
        ... Left column content ...
    ].col-50.demo[
        ... Right column content. Demo ... 
    ]]

=============================== */
.columns {
    }
    .columns:after {
        content: "";
        display: table;
        clear: both;
    }
    *[class^="col-"] {
        box-sizing: border-box;
        float: left;
        padding: 0 30px;
        }
        .columns > *[class^="col-"]:first-child {
            padding-left: 0;
        }
        .columns > *[class^="col-"]:last-child {
            padding-right: 0;
        }
    .col-10 { width: 10%;}
    .col-20 { width: 20%;}
    .col-30 { width: 30%;}
    .col-40 { width: 40%;}
    .col-50 { width: 50%;}
    .col-60 { width: 60%;}
    .col-70 { width: 70%;}
    .col-80 { width: 80%;}
    .col-90 { width: 90%;}

.demo {
    position: relative;
    padding: 1em 30px !important;
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2) inset;
    }
    .demo:before {
        content: 'Demo:';
        margin-bottom: 1px;
        background: #12679b;;
        position: absolute;
        bottom: 100%;
        left: 0px;
        right: 0px;
        padding: 3px 5px 2px;
        font-size: 12px;
        color: #fff;
    }


/* Typography styles */

h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
    color: #12679b;
}
h1 {
    font-size: 18px;
    line-height: 1.3;
    margin: -5px 0 20px;
}
h2 {
    font-size: 16px;
    line-height: 1.3;
    margin: 15px 0 10px;
}
h3 {
    font-size: 14px;
    line-height: 1.3;
    margin: 10px 0 5px;
}
p, pre {
    margin: 0 0 1em;
}
li {
    margin-top: 0;
    margin-bottom: 10px;
}
li > p {
    margin: 0;
}
li > pre {
    margin: 0.3em 0;
}
a {
    color: #12679b;
    }
    a:hover {
        color: #77addf;
    }

.litle {
    font-size: 16px;
}

.main-index {
    margin-top: -30px;
    font-size: 18px;
    line-height: 1.2;
    font-family: 'Yanone Kaffeesatz';
}

.main-index a {
    text-decoration: none;
}

.main-index > ol > li {
    margin-bottom: 0px;    
}
.main-index + .remark-slide-number {
    display: none;
}

.remark-slide-number {
    bottom: 30px;
}

.scriptCode {
    font-family: 'Ubuntu Mono';
    font-weight: bold;
}

/* Images styles */

img {
  max-width: 100%;
}
.img-wrap-100 {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.img-wrap-90 {
    display: block;
    width: 90%;
    margin: 0 auto;
}
.img-wrap-80 {
    display: block;
    width: 80%;
    margin: 0 auto;
}
.img-wrap-70 {
    display: block;
    width: 70%;
    margin: 0 auto;
}
.img-wrap-60 {
    display: block;
    width: 60%;
    margin: 0 auto;
}
.img-wrap-50 {
    display: block;
    width: 50%;
    margin: 0 auto;
}
